# Proyecto Integrador Gestión TI
## Trabajo 1

In [23]:
import pandas as pd
import random
from faker import Faker
from math import ceil

In [24]:
table_1 = pd.read_excel("original_data.xlsx", sheet_name=0)
table_2 = pd.read_excel("original_data.xlsx", sheet_name=1)
table_3 = pd.read_excel("original_data.xlsx", sheet_name=2)

1)

In [25]:
table_2['Correo'] = table_2['Representante'].str.split().str[0] + table_2['Representante'].str.split().str[-1] + '@work.com'

2)

In [26]:
table_1.insert(0, "ID", range(0, len(table_1)))

In [27]:
time = table_1.copy()
time['Fecha'] = pd.to_datetime(time['Fecha'])
time['NúmeroMes'] = time['Fecha'].dt.day # Se cambia el nombre a NúmeroDía? / Cambiar a solo Día?
time['NombreMes'] = time['Fecha'].dt.month_name('es_CL.utf8')
time['NúmeroAño'] = time['Fecha'].dt.year

In [28]:
time.drop(["Representante", "Fecha", "CódigoProducto", "Unidades"], axis=1, inplace=True)

In [29]:
time

        ID  NúmeroMes  NombreMes  NúmeroAño
0        0          1      Enero       2014
1        1          2      Enero       2014
2        2          2      Enero       2014
3        3          2      Enero       2014
4        4          2      Enero       2014
...    ...        ...        ...        ...
9995  9995         31  Diciembre       2015
9996  9996         31  Diciembre       2015
9997  9997         31  Diciembre       2015
9998  9998         31  Diciembre       2015
9999  9999         31  Diciembre       2015

[10000 rows x 4 columns]

3)

In [30]:
table_2.insert(1, "Apellido", str())

In [31]:
def split_names(row):
    [name, last_name] = row["Representante"].split()
    row["Representante"] = name
    row["Apellido"] = last_name
    return row

In [32]:
table_2 = table_2.apply(split_names, axis=1)

In [33]:
table_2

   Representante  Apellido Region                     Correo
0        Agustín   Reynoso   Este    AgustínReynoso@work.com
1           Alan     Ramos  Norte         AlanRamos@work.com
2         Andrés     Mejía  Oeste       AndrésMejía@work.com
3         Arturo    Franco   Este      ArturoFranco@work.com
4        Bárbara  Peñalosa  Norte   BárbaraPeñalosa@work.com
..           ...       ...    ...                        ...
67     Silvestre   Morales  Oeste  SilvestreMorales@work.com
68         Sonia    Mujíca   Este       SoniaMujíca@work.com
69        Tamara   Márquez  Oeste     TamaraMárquez@work.com
70       Teodoro    Jurado  Oeste     TeodoroJurado@work.com
71        Teresa    Rivero  Norte      TeresaRivero@work.com

[72 rows x 4 columns]

4)

In [34]:
table_3.insert(2, "PrecioVenta", 0)
table_3.insert(3, "CostoProducción", 0)

In [35]:
def define_prices(row):
    match row["Descripción"][0]:
        case "A":
            base_price = 1000
        case "S":
            base_price = 500
        case "L", "M", "H":
            base_price = 300
        case "B":
            base_price = 200
        case _:
            base_price = 150
    msrp = ceil(base_price * random.random() * 1000)
    cost = ceil((msrp * random.random()) / 2)

    row["PrecioVenta"] = msrp
    row["CostoProducción"] = cost
    return row

In [36]:
table_3 = table_3.apply(define_prices, axis=1)

5)

In [39]:
fake = Faker('es_CL')
phone_numbers = [ fake.phone_number() for _ in range(0, len(table_2))]

In [40]:
table_2.insert(4, "NúmeroContacto", phone_numbers)

In [41]:
table_2

   Representante  Apellido Region                     Correo   NúmeroContacto
0        Agustín   Reynoso   Este    AgustínReynoso@work.com  +56 800 707 450
1           Alan     Ramos  Norte         AlanRamos@work.com  +56 41 275 5043
2         Andrés     Mejía  Oeste       AndrésMejía@work.com  +56 43 314 3643
3         Arturo    Franco   Este      ArturoFranco@work.com  +56 600 982 837
4        Bárbara  Peñalosa  Norte   BárbaraPeñalosa@work.com  +56 2 2995 4763
..           ...       ...    ...                        ...              ...
67     Silvestre   Morales  Oeste  SilvestreMorales@work.com  +56 63 212 8029
68         Sonia    Mujíca   Este       SoniaMujíca@work.com  +56 73 265 0896
69        Tamara   Márquez  Oeste     TamaraMárquez@work.com  +56 72 357 1480
70       Teodoro    Jurado  Oeste     TeodoroJurado@work.com  +56 2 3457 1266
71        Teresa    Rivero  Norte      TeresaRivero@work.com  +56 61 333 5066

[72 rows x 5 columns]

Save new data

In [42]:
with pd.ExcelWriter('transformed_data.xlsx') as writer:
    table_1.to_excel(writer, sheet_name='Tabla1', index=False)
    table_2.to_excel(writer, sheet_name='Tabla2', index=False)
    table_3.to_excel(writer, sheet_name='Tabla3', index=False)
    time.to_excel(writer, sheet_name='Tiempo', index=False)